@import './colors.css';

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: #474554;

  --color-card-background: rgba(208, 211, 216, 0.5);
  --color-card-icon-background: #d0d3d8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: #d0d3d8;

    --color-card-background: #282828;
    --color-card-icon-background: var(--grey-dark);
  }
}

html {
  /* color: var(--color-text); */
}
